.page {
  flex: 1 1 auto;
  padding-top: 68px;

  &__hero {
    @include onTablet {
      padding-top: 27px;
    }

    @include onDesktop {
      padding-top: 63px;
    }
  }

  &__for-whom {
    padding-top: 35px;

    @include onTablet {
      padding-top: 109px;
    }

    @include onDesktop {
      padding-top: 150px;
    }
  }

  &__features {
    padding-top: 110px;

    @include onTablet {
      padding-top: 135px;
    }

    @include onDesktop {
      padding-top: 150px;
    }
  }

  &__potr-team {
    padding-top: 110px;

    @include onTablet {
      padding-top: 132px;
    }

    @include onDesktop {
      padding-top: 150px;
    }
  }

  &__materials {
    margin-top: 80px;

    @include onTablet {
      margin-top: 230px;
    }

    @include onDesktop {
      margin-top: 50px;
    }
  }

  &__potr-size {
    padding-top: 80px;

    @include onDesktop {
      padding-top: 189px;
    }
  }

  &__benefits {
    padding-top: 110px;

    @include onTablet {
      padding-top: 105px;
    }

    @include onDesktop {
      padding-top: 130px;
    }
  }

  &__question {
    padding-top: 155px;

    @include onTablet {
      padding-top: 120px;
    }

    @include onDesktop {
      padding-top: 83px;
    }
  }
}
