// mobile-first media query values
$tablet: 640px;
$desktop: 1280px;

// default settings
$mainFz: 16px;
$containerWidth: 1200px; // include left and right paddings

// Colors
$grayColorMain: #4F4F4F;
$grayColorMinor: #333333;
$grayColorLess: #828282;
$blueColor: #03839E;
$blackColor: #000000;
$yellowWeightColor: #FFE339;
$yellowColor: #FFEC7A;
$redColor: #EB5757;

// Fonts
$mainFont: 'Manrope';
$minorFont: 'BebasNeue';
